body {
    background-attachment: fixed;
    padding: 26px;
    font-family: 'Montserrat', 'Heebo', 'Open Sans';
    overflow-x: hidden;
    background: #ffc108;
}

html {
    height: 100%;
}

nav {}

.navbar-custom {
    background: transparent;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

#row{
    margin-bottom: 430px;
}

#ticket {
    width: 70%;
    min-height: 35vh;
    position: absolute;
    transform: translateX(20%);
    background: white;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#orderNumber {
    background: #2196f3;
    width: 60px;
    margin: 25px 0 0 25px;
    text-align: center;
    height: 30%;
    line-height: 60px;
    font-size: 4rem;
    font-weight:1600;
    color: white;
    display: inline-block;
    border-radius: 15px;
}

#title {
    color: white;
    margin: 0 0 2% 15%;
}

#customerName {
    display: inline-block;
    margin-left: 5%;
    font-size: 4rem;
    color: #2196f3;
}

#priceBox {
    background: #e2e2e2;
    width: 12%;
    padding: 10px;
    display: inline-block;
    float: right;
}

.price {
    padding: 16px;
    background: #e2e2e2;
    color: #515151;
    font-weight: 800;
    font-size: 4rem;
    display: inline-block;
    margin-top: -1px;
}

.priceGroup{
    display: inline-block;
    float: right;
}

.remove,
.remove:link,
.remove:visited,
.remove:focus,
.remove:active{
    display: inline-block;
    font-size: 3rem;
    float: right;
    color: #b3b3b3;
    padding: 10px;
    margin: 10px 10px 0 25px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.remove:hover{
    color: grey;
}

#listOfItems{
    margin: 3% 0 5% 0;
}
.done,
.done:link,
.done:visited,
.done:focus,
.done:active{
    font-size: 3rem;
    padding: 16px;
    background: #4caf50;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-left: 14%;
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.done:hover{
    background: green;
    color: white;
}

.circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #515151;
    margin: 0 0 0 10%;
    text-align: center;
    display: inline-block;
}

.itemCount {
    color: white;
    margin-top:10px;
}

.itemName {
    display: inline-block;
    margin-left: 10px;
    text-transform: capitalize;
}

ul{
    list-style-type:none;
}
